trunk/ControlViaticosMVC/AprobarServicesTest/Service References/AprobarWS/Aprobaciones1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AprobarServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AprobarServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Aprobar">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoEmpleadoAprueba" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoSolicitud" type="xs:int" />
      <xs:element minOccurs="0" name="FeAprobado" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRetorno" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSalida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FlagAprobado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SustentoViaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalSolicitado" type="xs:double" />
      <xs:element minOccurs="0" name="empleado" nillable="true" type="tns:Empleado" />
      <xs:element minOccurs="0" name="ubigeoDestino" nillable="true" type="tns:Ubigeo" />
      <xs:element minOccurs="0" name="ubigeoOrigen" nillable="true" type="tns:Ubigeo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Aprobar" nillable="true" type="tns:Aprobar" />
  <xs:complexType name="Empleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="TxAp_Materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TxAp_Paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TxPreNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
  <xs:complexType name="Ubigeo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoUbigeo" type="xs:int" />
      <xs:element minOccurs="0" name="NoDescripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ubigeo" nillable="true" type="tns:Ubigeo" />
  <xs:complexType name="ArrayOfAprobar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Aprobar" nillable="true" type="tns:Aprobar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAprobar" nillable="true" type="tns:ArrayOfAprobar" />
  <xs:complexType name="ArrayOfUbigeo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ubigeo" nillable="true" type="tns:Ubigeo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUbigeo" nillable="true" type="tns:ArrayOfUbigeo" />
</xs:schema>