ControlViaticosMVC/ControlViaticosApp/Service References/AutorizarWS/Autorizaciones41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AutorizarServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AutorizarServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Autorizar">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoEmpleadoAutorizar" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoSolicitud" type="xs:int" />
      <xs:element minOccurs="0" name="FechaAutorizar" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRetorno" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSalida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FlagAutorizar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SustentoViaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalSolicitado" type="xs:double" />
      <xs:element minOccurs="0" name="empleado" nillable="true" type="tns:Empleado" />
      <xs:element minOccurs="0" name="ubigeoDestino" nillable="true" type="tns:Ubigeo" />
      <xs:element minOccurs="0" name="ubigeoOrigen" nillable="true" type="tns:Ubigeo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Autorizar" nillable="true" type="tns:Autorizar" />
  <xs:complexType name="Empleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="TxAp_Materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TxAp_Paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TxPreNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
  <xs:complexType name="Ubigeo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoUbigeo" type="xs:int" />
      <xs:element minOccurs="0" name="NoDescripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ubigeo" nillable="true" type="tns:Ubigeo" />
  <xs:complexType name="ArrayOfAutorizar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Autorizar" nillable="true" type="tns:Autorizar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutorizar" nillable="true" type="tns:ArrayOfAutorizar" />
  <xs:complexType name="ArrayOfUbigeo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ubigeo" nillable="true" type="tns:Ubigeo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUbigeo" nillable="true" type="tns:ArrayOfUbigeo" />
</xs:schema>