ControlViaticosMVC/ControlViaticosApp/Service References/AutorizarWS/Autorizaciones43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61546/Autorizaciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AutorizarServices.Dominio" />
  <xs:element name="ObtenerSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSolicitud" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AutorizarServices.Dominio" minOccurs="0" name="ObtenerSolicitudResult" nillable="true" type="q1:Autorizar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSolicitud" type="xs:int" />
        <xs:element minOccurs="0" name="flagAutorizar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaAutorizar" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codigoEmpleadoAutorizar" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AutorizarServices.Dominio" minOccurs="0" name="ModificarSolicitudResult" nillable="true" type="q2:Autorizar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSolicitudes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSolicitudesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AutorizarServices.Dominio" minOccurs="0" name="ListarSolicitudesResult" nillable="true" type="q3:ArrayOfAutorizar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>