ControlViaticosMVC/ControlViaticosApp/Service References/LiquidacionesWS/Liquidaciones.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LiquidarServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LiquidarServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Liquidar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Co_Liquidacion" type="xs:int" />
      <xs:element minOccurs="0" name="Detalles" nillable="true" type="tns:ArrayOfLiquidarDetalle" />
      <xs:element minOccurs="0" name="Fe_Liquidacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ss_OtrosGastos" type="xs:double" />
      <xs:element minOccurs="0" name="Ss_TotalAsignado" type="xs:double" />
      <xs:element minOccurs="0" name="Ss_TotalUtilizado" type="xs:double" />
      <xs:element minOccurs="0" name="solicitud" nillable="true" type="tns:Solicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Liquidar" nillable="true" type="tns:Liquidar" />
  <xs:complexType name="ArrayOfLiquidarDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LiquidarDetalle" nillable="true" type="tns:LiquidarDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLiquidarDetalle" nillable="true" type="tns:ArrayOfLiquidarDetalle" />
  <xs:complexType name="LiquidarDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="PK" nillable="true" type="tns:LiquidarDetallePK" />
      <xs:element minOccurs="0" name="Ss_MontoAsignado" type="xs:double" />
      <xs:element minOccurs="0" name="Ss_MontoUtilizado" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LiquidarDetalle" nillable="true" type="tns:LiquidarDetalle" />
  <xs:complexType name="LiquidarDetallePK">
    <xs:sequence>
      <xs:element minOccurs="0" name="Liquidar" type="xs:int" />
      <xs:element minOccurs="0" name="TipoViatico" nillable="true" type="tns:TipoViatico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LiquidarDetallePK" nillable="true" type="tns:LiquidarDetallePK" />
  <xs:complexType name="TipoViatico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Co_TipoViatico" type="xs:int" />
      <xs:element minOccurs="0" name="No_Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoViatico" nillable="true" type="tns:TipoViatico" />
  <xs:complexType name="Solicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="Co_Solicitud" type="xs:int" />
      <xs:element minOccurs="0" name="Fe_Solicitud" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Solicitud" nillable="true" type="tns:Solicitud" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Co_TipoViatico" type="xs:int" />
      <xs:element minOccurs="0" name="Ss_MontoUtilizado" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ArrayOfLiquidar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Liquidar" nillable="true" type="tns:Liquidar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLiquidar" nillable="true" type="tns:ArrayOfLiquidar" />
</xs:schema>