ControlViaticosMVC/TarifarioServiceTest/Service References/TarifariosServices/Tarifarios1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58336/Tarifarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TarifarioServices.Dominio" />
  <xs:element name="listarTarifarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTarifariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TarifarioServices.Dominio" minOccurs="0" name="listarTarifariosResult" nillable="true" type="q1:ArrayOfTarifario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>