trunk/ControlViaticosMVC/ControlViaticosApp/Service References/AutorizarWS/Autorizaciones1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Autorizaciones" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61546/Autorizaciones.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61546/Autorizaciones.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61546/Autorizaciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AutorizarServices.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAutorizaciones_ObtenerSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitud" />
  </wsdl:message>
  <wsdl:message name="IAutorizaciones_ObtenerSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="IAutorizaciones_ModificarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarSolicitud" />
  </wsdl:message>
  <wsdl:message name="IAutorizaciones_ModificarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="IAutorizaciones_ListarSolicitudes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSolicitudes" />
  </wsdl:message>
  <wsdl:message name="IAutorizaciones_ListarSolicitudes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSolicitudesResponse" />
  </wsdl:message>
  <wsdl:portType name="IAutorizaciones">
    <wsdl:operation name="ObtenerSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutorizaciones/ObtenerSolicitud" message="tns:IAutorizaciones_ObtenerSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutorizaciones/ObtenerSolicitudResponse" message="tns:IAutorizaciones_ObtenerSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutorizaciones/ModificarSolicitud" message="tns:IAutorizaciones_ModificarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutorizaciones/ModificarSolicitudResponse" message="tns:IAutorizaciones_ModificarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarSolicitudes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutorizaciones/ListarSolicitudes" message="tns:IAutorizaciones_ListarSolicitudes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutorizaciones/ListarSolicitudesResponse" message="tns:IAutorizaciones_ListarSolicitudes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAutorizaciones" type="tns:IAutorizaciones">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerSolicitud">
      <soap:operation soapAction="http://tempuri.org/IAutorizaciones/ObtenerSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarSolicitud">
      <soap:operation soapAction="http://tempuri.org/IAutorizaciones/ModificarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSolicitudes">
      <soap:operation soapAction="http://tempuri.org/IAutorizaciones/ListarSolicitudes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Autorizaciones">
    <wsdl:port name="BasicHttpBinding_IAutorizaciones" binding="tns:BasicHttpBinding_IAutorizaciones">
      <soap:address location="http://localhost:61546/Autorizaciones.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>