trunk/ControlViaticosMVC/TarifarioServiceTest/Service References/TarifariosServices/Tarifarios2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TarifarioServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TarifarioServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTarifario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tarifario" nillable="true" type="tns:Tarifario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTarifario" nillable="true" type="tns:ArrayOfTarifario" />
  <xs:complexType name="Tarifario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Co_EmpActualiza" type="xs:int" />
      <xs:element minOccurs="0" name="Co_Tarifa" type="xs:int" />
      <xs:element minOccurs="0" name="Co_TipoViatico" type="xs:int" />
      <xs:element minOccurs="0" name="Co_Ubigeo" nillable="true" type="tns:Ubigeo" />
      <xs:element minOccurs="0" name="Ss_Costo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tarifario" nillable="true" type="tns:Tarifario" />
  <xs:complexType name="Ubigeo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Co_Ubigeo" type="xs:int" />
      <xs:element minOccurs="0" name="No_Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ubigeo" nillable="true" type="tns:Ubigeo" />
</xs:schema>