ControlViaticosMVC/LiquidarServiceTest/Service References/LiquidacionesWS/Liquidaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Liquidaciones" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51564/Liquidaciones.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51564/Liquidaciones.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LiquidarServices.Persistencia" />
      <xsd:import schemaLocation="http://localhost:51564/Liquidaciones.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51564/Liquidaciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LiquidarServices.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILiquidaciones_CrearLiquidacion_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearLiquidacion" />
  </wsdl:message>
  <wsdl:message name="ILiquidaciones_CrearLiquidacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearLiquidacionResponse" />
  </wsdl:message>
  <wsdl:message name="ILiquidaciones_CrearLiquidacion_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/LiquidarServices.Persistencia" name="detail" element="q1:ValidationException" />
  </wsdl:message>
  <wsdl:message name="ILiquidaciones_ObtenerLiquidacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLiquidacion" />
  </wsdl:message>
  <wsdl:message name="ILiquidaciones_ObtenerLiquidacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLiquidacionResponse" />
  </wsdl:message>
  <wsdl:message name="ILiquidaciones_ModificarLiquidacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarLiquidacion" />
  </wsdl:message>
  <wsdl:message name="ILiquidaciones_ModificarLiquidacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarLiquidacionResponse" />
  </wsdl:message>
  <wsdl:message name="ILiquidaciones_EliminarLiquidacion_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarLiquidacion" />
  </wsdl:message>
  <wsdl:message name="ILiquidaciones_EliminarLiquidacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarLiquidacionResponse" />
  </wsdl:message>
  <wsdl:message name="ILiquidaciones_ListarLiquidaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarLiquidaciones" />
  </wsdl:message>
  <wsdl:message name="ILiquidaciones_ListarLiquidaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarLiquidacionesResponse" />
  </wsdl:message>
  <wsdl:portType name="ILiquidaciones">
    <wsdl:operation name="CrearLiquidacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquidaciones/CrearLiquidacion" message="tns:ILiquidaciones_CrearLiquidacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiquidaciones/CrearLiquidacionResponse" message="tns:ILiquidaciones_CrearLiquidacion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILiquidaciones/CrearLiquidacionValidationExceptionFault" name="ValidationExceptionFault" message="tns:ILiquidaciones_CrearLiquidacion_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerLiquidacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquidaciones/ObtenerLiquidacion" message="tns:ILiquidaciones_ObtenerLiquidacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiquidaciones/ObtenerLiquidacionResponse" message="tns:ILiquidaciones_ObtenerLiquidacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarLiquidacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquidaciones/ModificarLiquidacion" message="tns:ILiquidaciones_ModificarLiquidacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiquidaciones/ModificarLiquidacionResponse" message="tns:ILiquidaciones_ModificarLiquidacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarLiquidacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquidaciones/EliminarLiquidacion" message="tns:ILiquidaciones_EliminarLiquidacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiquidaciones/EliminarLiquidacionResponse" message="tns:ILiquidaciones_EliminarLiquidacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarLiquidaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquidaciones/ListarLiquidaciones" message="tns:ILiquidaciones_ListarLiquidaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiquidaciones/ListarLiquidacionesResponse" message="tns:ILiquidaciones_ListarLiquidaciones_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILiquidaciones" type="tns:ILiquidaciones">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearLiquidacion">
      <soap:operation soapAction="http://tempuri.org/ILiquidaciones/CrearLiquidacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerLiquidacion">
      <soap:operation soapAction="http://tempuri.org/ILiquidaciones/ObtenerLiquidacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarLiquidacion">
      <soap:operation soapAction="http://tempuri.org/ILiquidaciones/ModificarLiquidacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarLiquidacion">
      <soap:operation soapAction="http://tempuri.org/ILiquidaciones/EliminarLiquidacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarLiquidaciones">
      <soap:operation soapAction="http://tempuri.org/ILiquidaciones/ListarLiquidaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Liquidaciones">
    <wsdl:port name="BasicHttpBinding_ILiquidaciones" binding="tns:BasicHttpBinding_ILiquidaciones">
      <soap:address location="http://localhost:51564/Liquidaciones.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>