ControlViaticosMVC/ControlViaticosApp/Service References/ViaticoWS/Viaticos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ControlViaticosServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ControlViaticosServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Viatico">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoEmpleadoSolicitante" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoSolicitud" type="xs:int" />
      <xs:element minOccurs="0" name="FechaRetorno" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSalida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SustentoViaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalSolicitado" type="xs:double" />
      <xs:element minOccurs="0" name="ubigeoDestino" nillable="true" type="tns:Ubigeo" />
      <xs:element minOccurs="0" name="ubigeoOrigen" nillable="true" type="tns:Ubigeo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Viatico" nillable="true" type="tns:Viatico" />
  <xs:complexType name="Ubigeo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoUbigeo" type="xs:int" />
      <xs:element minOccurs="0" name="NoDescripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ubigeo" nillable="true" type="tns:Ubigeo" />
  <xs:complexType name="ArrayOfViatico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Viatico" nillable="true" type="tns:Viatico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViatico" nillable="true" type="tns:ArrayOfViatico" />
</xs:schema>