ControlViaticosMVC/ControlViaticosApp/Service References/ViaticoWS/Viaticos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20000/Viaticos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ControlViaticosServices.Dominio" />
  <xs:element name="CrearSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaSolicitud" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codigoEmpleadoSolicitante" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUbigeoOrigen" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUbigeoDestino" type="xs:int" />
        <xs:element minOccurs="0" name="fechaSalida" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaRetorno" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sustentoViaje" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalSolicitado" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ControlViaticosServices.Dominio" minOccurs="0" name="CrearSolicitudResult" nillable="true" type="q1:Viatico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSolicitud" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ControlViaticosServices.Dominio" minOccurs="0" name="ObtenerSolicitudResult" nillable="true" type="q2:Viatico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSolicitud" type="xs:int" />
        <xs:element minOccurs="0" name="fechaSolicitud" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codigoEmpleadoSolicitante" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUbigeoOrigen" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUbigeoDestino" type="xs:int" />
        <xs:element minOccurs="0" name="fechaSalida" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaRetorno" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sustentoViaje" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalSolicitado" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ControlViaticosServices.Dominio" minOccurs="0" name="ModificarSolicitudResult" nillable="true" type="q3:Viatico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSolicitud" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSolicitudResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSolicitudes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSolicitudesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ControlViaticosServices.Dominio" minOccurs="0" name="ListarSolicitudesResult" nillable="true" type="q4:ArrayOfViatico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUbigeos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUbigeosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ControlViaticosServices.Dominio" minOccurs="0" name="ListarUbigeosResult" nillable="true" type="q5:ArrayOfUbigeo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>