trunk/ControlViaticosMVC/ControlViaticosApp/Service References/ViaticoWS/Viaticos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ControlViaticosServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ControlViaticosServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Co_TipoViatico" type="xs:int" />
      <xs:element minOccurs="0" name="Ss_MontoSolicitado" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="Viatico">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoEmpleadoSolicitante" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoSolicitud" type="xs:int" />
      <xs:element minOccurs="0" name="Detalles" nillable="true" type="tns:ArrayOfViaticoDetalle" />
      <xs:element minOccurs="0" name="FechaRetorno" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSalida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SustentoViaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalSolicitado" type="xs:double" />
      <xs:element minOccurs="0" name="ubigeoDestino" nillable="true" type="tns:Ubigeo" />
      <xs:element minOccurs="0" name="ubigeoOrigen" nillable="true" type="tns:Ubigeo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Viatico" nillable="true" type="tns:Viatico" />
  <xs:complexType name="ArrayOfViaticoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViaticoDetalle" nillable="true" type="tns:ViaticoDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViaticoDetalle" nillable="true" type="tns:ArrayOfViaticoDetalle" />
  <xs:complexType name="ViaticoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="PK" nillable="true" type="tns:ViaticoDetallePK" />
      <xs:element minOccurs="0" name="Ss_MontoSolicitado" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViaticoDetalle" nillable="true" type="tns:ViaticoDetalle" />
  <xs:complexType name="ViaticoDetallePK">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoViatico" nillable="true" type="tns:TipoViatico" />
      <xs:element minOccurs="0" name="Viatico" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViaticoDetallePK" nillable="true" type="tns:ViaticoDetallePK" />
  <xs:complexType name="TipoViatico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Co_TipoViatico" type="xs:int" />
      <xs:element minOccurs="0" name="No_Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoViatico" nillable="true" type="tns:TipoViatico" />
  <xs:complexType name="Ubigeo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoUbigeo" type="xs:int" />
      <xs:element minOccurs="0" name="NoDescripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ubigeo" nillable="true" type="tns:Ubigeo" />
  <xs:complexType name="ValidationException">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoError" type="xs:int" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationException" nillable="true" type="tns:ValidationException" />
  <xs:complexType name="ArrayOfViatico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Viatico" nillable="true" type="tns:Viatico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViatico" nillable="true" type="tns:ArrayOfViatico" />
  <xs:complexType name="ArrayOfUbigeo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ubigeo" nillable="true" type="tns:Ubigeo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUbigeo" nillable="true" type="tns:ArrayOfUbigeo" />
  <xs:complexType name="ArrayOfTarifario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tarifario" nillable="true" type="tns:Tarifario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTarifario" nillable="true" type="tns:ArrayOfTarifario" />
  <xs:complexType name="Tarifario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Co_EmpActualiza" type="xs:int" />
      <xs:element minOccurs="0" name="Co_Tarifa" type="xs:int" />
      <xs:element minOccurs="0" name="Co_TipoViatico" nillable="true" type="tns:TipoViatico" />
      <xs:element minOccurs="0" name="Co_Ubigeo" nillable="true" type="tns:Ubigeo" />
      <xs:element minOccurs="0" name="Ss_Costo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tarifario" nillable="true" type="tns:Tarifario" />
</xs:schema>